<h2>Features Cocktails</h2>
<hr>
<div class="row">

 <!-- LES 6 CARTES -->


  <% @cocktails.take(6).each do |cocktail| %>
         <% ingredient_sorted = cocktail.ingredients.sort{|a,b| a.category <=> b.category } %>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="card my-card">
        <div class="card-img-top my-card-image" style="background-image:url('<%= cl_image_path cocktail.image %>')" alt="Card image cap">
          <div class="card-linear-gradient">
          </div>
        </div>
        <div class="card-body my-cards-body">
          <h5> <%= link_to cocktail.name.capitalize, cocktail_path(cocktail)%></h5>
          <ul class="list-inline">
          <% ingredient_sorted.each do |x| %>
            <li class="list-inline-item text-muted">
            <% if x.category == "fruit" %>
                <i class="fas fa-lemon category"></i>
            <% elsif x.category == "juice" %>
                <i class="fas fa-tint category" ></i>
            <% elsif x.category == "alcohol" %>
                <i class="fas fa-glass-martini category"></i>
            <% else %>
                <i class="fas fa-leaf category"></i>
            <% end %>
            <%= x.name.capitalize %>
          </li>
          <% end %>
          </ul>
        </div>
        <div class="card-footer my-card-footer">
          <small class="text-muted"><%= link_to "", cocktail_path(cocktail), :class => "far fa-trash-alt trashcan", :method => :delete, :confirm => "Are you sure ?"%>
          </small>
          <small class="text-muted"><%= link_to "", cocktail_path(cocktail), :class => "far fa-edit trashcan"%>
          </small>
        </div>
      </div>
    </div>

    <% end %>
</div>
