


<!-- ================================================== -->



















<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<%= @cocktail.name %>
<% @cocktail.doses.each do |dose| %>
<h3><%= dose.ingredient.name %></h3>
<p><%= dose.description %></p>

<%= link_to "Delete this ingredient", dose_path(dose), :method => :delete, :confirm => "Are you sure ?"%>

<% end %>

<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail[:id])%>
<%= link_to "Back",  cocktails_path %>


