
<% ingredients = Ingredient.all %>
<% ing_alcohol = ingredients.where(category: "alcohol").order(:name)%>
<% ing_fruit = ingredients.where(category: "fruit").order(:name)%>
<% ing_juice = ingredients.where(category: "juice").order(:name)%>
<% ing_spice = ingredients.where(category: "spice").order(:name)%>
<% dose = [ "0.5 oz", "1 oz", "1.5 oz", "2 oz", "2.5 oz", "3 oz", "3.5 oz", "4 oz","4.5 oz", "5 oz", "10 oz", "15 oz", "20 oz"]  %>



	<div class="form-class display-none" id="alcohol-form">
		<% ing_alcohol.name.capitalize! %>



		<%= form_for [@cocktail, @dose], {class: 'form'} do |f| %>
		<%= f.collection_select :ingredient_id, ing_alcohol, :id, :name, {:include_blank => 'Choice of alcohols'}, :class => "form-control my-form-control", :id => "select-alcohol"%>
		<%= f.select :quantity, options_for_select(dose), {}, { :class => "form-control my-form-control" } %>
		<%= f.submit 'Add ingredient ', :class => 'form-control my-form-btn' %>
		<% end %>
	</div>

	<div class="form-class display-none" id="food-form">
		<% ing_fruit.name.capitalize! %>
		<%= form_for [@cocktail, @dose] do |f| %>
		<%= f.collection_select :ingredient_id, ing_fruit, :id, :name, {:include_blank => 'Choice of food items'}, :class => "form-control my-form-control" %>
		<%= text_field :dose, :quantity, :placeholder => "Quantity", :class => "form-control my-form-control" %>
		<%= f.submit 'Add ingredient ', :class => 'form-control my-form-btn' %>
		<% end %>
	</div>

	<div class="form-class display-none" id="mixer-form">
		<% ing_juice.name.capitalize! %>
		<%= form_for [@cocktail, @dose] do |f| %>
		<%= f.collection_select :ingredient_id, ing_juice, :id, :name, {:include_blank => 'Choice of mixers'}, :class => "form-control my-form-control" %>
		<%= f.select :quantity, options_for_select(dose), {}, { :class => "form-control my-form-control" } %>
		<%= f.submit 'Add ingredient ', :class => 'form-control my-form-btn' %>
		<% end %>
	</div>



		<div class="form-class display-none" id="spice-form">
			<% ing_spice.name.capitalize! %>
			<%= form_for [@cocktail, @dose] do |f| %>
			<%= f.collection_select :ingredient_id, ing_spice, :id, :name, {:include_blank => 'Choice of spices'}, :class => "form-control my-form-control" %>
			<%= text_field :dose, :quantity, :placeholder => "Quantity", :class => "form-control my-form-control" %>
			<%= f.submit 'Add ingredient ', :class => 'form-control my-form-btn' %>
			<% end %>

			</div>

